body {
    height: 100vh;
    position: relative;
    text-align: center;
    background-image: url("https://art.pixilart.com/7d3a0fef2fdf813.gif");
    background-size: 20vh;
    background-position-x: 120px;
    background-position-y: 20px;
    background-repeat: no-repeat;
    background-color: #03a9f4;
    font-family: "Major Mono Display", monospace;
  }

  nav {
    position: sticky;
    background-color: #02f29e;
    padding: 10px;
    color: rgb(33, 33, 33);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  a {
    text-decoration: none;
    padding: 0 5px;
    color: rgb(33, 33, 33);
  }

  h1 {
    margin: 50px;
  }

  .characters-container {
    position: relative;
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* the next few lines help keep the footer stuck on the bottom */
    min-height: 100vh;
    display: block;
    padding-bottom: 100px;
  }

  img {
    border: 5px solid black;
    background-color: black;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 0;
  }

  .search-filter {
    border: 5px solid black;
    position: fixed;
    top: 30%;
    z-index: 100;
    background-color: rgba(231, 235, 254, 0.76);
    color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 0 20px 20px 20px;
  }

  .search-filter button {
    background-color: #03a9f4;
    color: white;
    font-weight: bolder;
    font-size: 16px;
  }

  .check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
  }

  #hfilter {
    font-size: 18px;
  }

  button {
    font-family: "Major Mono Display", monospace;
    width: inherit;
    height: 40px;
    font-weight: bolder;
    font-size: 16px;
  }

  .post-edit {
    border: 5px solid black;
    background-color: rgba(231, 235, 254, 0.76);
    color: rgb(33, 33, 33);
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 50px;
  }

  .post-edit label {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
  }

  .post-edit button {
    background-color: #03a9f4;
    color: white;
  }

  input {
    justify-content: center;
    margin: 5px;
    padding: 5px;
    font-size: medium;
  }

  label {
    padding: 5px;
  }

  .charDetails {
    display: in-line grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid black;
    background-color: rgba(231, 235, 254, 0.76);
    color: rgb(33, 33, 33);
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 50px;
  }

  .footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: black;
    color: #02f29e;
    width: 100%;
  }

  .footer a {
    color: #02f29e;
  }


@media only screen and (max-width: 480px) {
  body {
    text-align: center;
    background-image: url("https://art.pixilart.com/7d3a0fef2fdf813.gif");
    background-size: 50vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #03a9f4;
    color: white;
    font-size: 25px;
    font-family: "Major Mono Display", monospace;
    max-width: 90vh;
  }

  nav {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: #02f29e;
    font-size: 25px;
  }

  .header {
    height: 40vh;
  }

  h1 {
    margin: 20px;
    background-color: black;
    padding: 10px;
    font-size: 28px;
  }

  #hfilter {
    font-size: 28px;
  }

  .search-filter {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: black;
    max-width: 100%;
    color: white;
    padding: 0.5px 5px 5px 5px;
  }

  .search-filter button {
    background-color: #02f29e;
    font-family: "Major Mono Display", monospace;
  }

  .check {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: center;
    padding: 1px 0px 15px 0px;
  }

  input {
    padding: 10px;
    width: 70%;
    justify-content: center;
    font-size: 18px;
  }

  label {
    font-size: 20px;
    padding: 14px 0px 2px 0px;
    display: grid;
  }

  span {
    display: none;
  }

  button {
    padding: 7px 0px 15px 0px;
    border-radius: 6%;
    font-size: 25px;
    background-color: white;
    font-family: "Major Mono Display", monospace;
    width: 80%;
  }

  img {
    position: relative;
    display: grid;
    padding: 5px 0px;
    grid-template-columns: 1fr;
    width: 60vh;
    height: 400px;
    object-fit: cover;
    object-position: 50% 0;
  }

  .characters-container {
    background-color: black;
    position: relative;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .charDetails h1 {
    color: #02f29e;
  }

  .charDetails {
    background-color: black;
    color: white;
    padding: 5px 0px 50px 0px;
  }

  .footer,
  .footer a {
    color: #02f29e;
    font-size: 20px;
    background-color: black;
    height: 7vh;
    padding: 10px;
    position: sticky;
    bottom: 0;
  }
}