body {
  text-align: center;
  background-image: url('https://www.freevector.com/uploads/vector/preview/1857/FreeVector-World-Map-Background.jpg');
  background-position: center;
  background-attachment: fixed;

}

.characters-container {
  position: relative;
  width: 800px;
  margin: 0 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
  display: in-line grid;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 0;      
}

form {
position: fixed;
background-color: #fca311;
color: white;
display: grid;
padding: 0 20px 20px 20px;
}

label {
  text-align: left;
}

.charDetails {
  display: in-line grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: peachpuff;
  }

  img {
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 50% 0;      
  }

  .characters-container {
    position: relative;
    margin: 200px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  form {
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 0 5px 5px 5px;
  }
}

