body {
  text-align: center;
  background-image: url('https://www.freevector.com/uploads/vector/preview/1857/FreeVector-World-Map-Background.jpg');
  background-position: center;
  background-attachment: fixed;

}

nav {
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.characters-container {
  position: relative;
  width: 800px;
  margin: 0 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
  display: in-line grid;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 0;      
}

.search-filter {
position: fixed;
top: 30%;
z-index: 100;
background-color: #fca311;
color: white;
display: grid;
padding: 0 20px 20px 20px;
}

label {
  text-align: left;
}

.charDetails {
  display: in-line grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: black;
    color: white;
  }

  a {
    font-size: xx-large;
    color: white;
  }

  .search-filter {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: black;
    color: white;
    padding: 0 5px 5px 5px;
  }

  .header {
    font-size: smaller;
    color: white;
  }

  img {
    position: relative;
    display: grid;
    padding: 5px 0px;
    grid-template-columns: 1fr;
    width: 60vh;
    height: 400px;
    object-fit: cover;
    object-position: 50% 0;      
  }

  .characters-container {
    position: relative;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr;
  }
  
 
}

